<%= form_for @appliance do |f| %>
    <div class="field container">
        <%= f.label :name %>    
        <%= f.text_field :name, required: true %>
    </div><br>

    <div class="field container">
        <%= f.label :image %>   
        <%= f.text_field :image, required: true %>
    </div><br>

    <div class="field container">
        <%= f.label :description %>   
        <%= f.text_field :description, required: true %>
    </div><br>

    <div class="field container">
        <%= f.label :availability %>   
        <%= f.select :availability, ["Available", "Not Available"] %>
    </div><br>

    <div class="actions container"> 
        <% if @appliance.id %>
            <%= f.submit "Edit Appliance" %>
        <% else %>
            <%= f.submit "New Appliance" %>
        <% end %>
    </div>
<%end %>

