    <% if @user.is_customer %>

        <div class="row ">
            <div class=" card col s12 m10 #e0f7fa cyan lighten-5 ">
                <div class="card-content">
                <span class="card-title tit-fon"><%= @user.name %></span>
                <p class="det">Email: <%= @user.email %> </p>
                <p class="det">Location:  <%= @user.location %> </p>
            </div>
        </div>

        <h4 class="col row s12 tit-fo">Borrowed Appliances</h4> <br>
        <div class="row"> 
            <% @user.appliances.each do |appliance| %>
                <div class="col s4 ">
                    <div class="card ">
                        <div class="card-image">
                            <%= link_to appliance_path(appliance) do %>
                                <%= image_tag appliance.image %>
                            <% end %> 
                        </div>
                    </div>
                </div>
            <%end %>
        </div>
    <% end %>

    <% if @user.is_provider %>
        <div class="row ">
            <div class=" card col s12 m10 #e0f7fa cyan lighten-5 ">
                <div class="card-content">
                <span class="card-title tit-fon"><%= @user.name %></span>
                <p class="det">Email: <%= @user.email %> </p>
                <p class="det">Location:  <%= @user.location %> </p>
            </div>
            <% if user_signed_in? && current_user.is_provider %>
            <div class="card-action cli"> 
                <%= link_to 'New Appliance', new_appliance_path %>
            </div> 
            <%end %>
        </div>
            
         <h4 class="col row s12 tit-fo">My Appliances</h4> 

        <div class="row"> 
            <% @user.provided_appliances.each do |appliance| %>
                <div class="col s4 ">
                    <div class="card ">
                        <div class="card-image">
                            <%= link_to appliance_path(appliance) do %>
                                <%= image_tag appliance.image %>
                            <% end %> 
                        </div>
                    </div>
                </div>
            <%end %>
        </div>
        
    <%end %>








