    <% if @user.is_customer %>

        <div class="row ">
            <div class=" card col s12 m10 #e0f7fa cyan lighten-5 ">
                <div class="card-content">
                <span class="card-title "><%= @user.name %></span>
                <p>Email: <%= @user.email %> </p>
                <p>Location:  <%= @user.location %> </p>
            </div>
        </div>

        <h4 class="col row s12 ">Borrowed Appliances</h4> <br>
        <div class="col row "> 
         <% @user.appliances.each do |appliance| %>
                    <%= link_to appliance_path(appliance) do %>
                        <%= image_tag appliance.image  %>
                    <% end %> 

            <%end %>
        </div>
    <% end %>

    <% if @user.is_provider %>
        <div class="row ">
            <div class=" card col s12 m10 #e0f7fa cyan lighten-5 ">
                <div class="card-content">
                <span class="card-title "><%= @user.name %></span>
                <p>Email: <%= @user.email %> </p>
                <p>Location:  <%= @user.location %> </p>
            </div>
            
            <div class="card-action"> 
                <%= link_to 'New Appliance', new_appliance_path %>
            </div> 
        </div>
            
         <h4 class="col row s12 ">My Appliances</h4> 
        <div class="col row "> <br>
            <% @user.provided_appliances.each do |appliance| %>
                <%= link_to appliance_path(appliance) do %>
                    <%= image_tag appliance.image %>
                <% end %>  
            <%end %>
        </div>
    <%end %>






        