    <% if @user.is_customer %>
        Signed in as customer <br> <br>
        <%= @user.name %> <br>
        <%= @user.email %> <br>
        <%= @user.location %> <br> <br>

        <h2>Borrowed Appliances</h2> <br>

         <% @user.appliances.each do |appliance| %>
                    <%= link_to appliance_path(appliance) do %>
                        <%= image_tag appliance.image  %>
                    <% end %> 

            <%end %>
            
    <% end %>

    <% if @user.is_provider %>
            Signed in as Provider <br> <br>
            <%= @user.name %> <br>
            <%= @user.email %> <br>
            <%= @user.location %><br><br>
            <%= link_to '<button type="button">New Appliance</button>'.html_safe, new_appliance_path %> <br> <br>
            <% @user.appliances.each do |appliance| %>
                    <%= link_to appliance_path(appliance) do %>
                        <%= image_tag appliance.image %>
                    <% end %> 
                    
            <%end %>

    <%end %>





