<nav>
    <div class="nav-wrapper #4dd0e1 cyan lighten-1">
    <ul> <li> <%= image_tag("download.png", size: '100x80')%> </li></ul>
      <ul class="right"> 
      <li> <%= link_to "Appliances", appliances_path %></li>
        <% if user_signed_in? %>
        <li> <%= link_to current_user.name, user_path(current_user) %></li>
        <li> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <%else %>
        <li><%= link_to ' Log in', new_user_session_path %></li>
        <li> <%= link_to 'Sign Up', new_user_registration_path %></li>
        <%end %>
      </ul>
    </div>
</nav>

