<!DOCTYPE html>
<html>
  <head>
    <title>BorrowMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/nav" %>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, totam distinctio iste animi repellat commodi dolor qui aspernatur veritatis laudantium impedit numquam, expedita reprehenderit tenetur voluptates minima quibusdam ducimus sunt?
    Praesentium vel veritatis sapiente hic quas voluptatum sint natus, modi dicta obcaecati dolor amet quasi consectetur molestiae ut debitis, expedita quae quam ipsa esse earum in. Aspernatur numquam suscipit laborum!
    Sit dolor ullam nisi fugiat, consequatur distinctio eveniet repudiandae architecto vero ab tenetur ipsam corporis, quam qui fugit sunt tempora. Eius perferendis possimus similique laborum at praesentium deserunt ipsa nesciunt.
    Quasi, iusto aperiam vel temporibus ratione aut officiis, tenetur soluta deleniti minima adipisci? Natus eius magnam repellendus vel corrupti repudiandae, necessitatibus magni tenetur nisi aspernatur suscipit, animi amet omnis hic.
    Dolor odit eos deleniti non totam officiis unde nisi corporis ipsum. Consequatur repellendus quod fugit facilis nobis rerum, blanditiis necessitatibus sequi sit ipsa qui accusamus vel aliquam pariatur, asperiores officiis?
    Quam assumenda commodi natus dignissimos illo libero, fuga et aut placeat, eligendi delectus sunt vel consequatur distinctio aspernatur veniam totam tenetur soluta nihil ullam architecto, explicabo perspiciatis qui! Dignissimos, ut.
    Eaque, sed sit dolor amet magni nesciunt, repellendus in debitis expedita facilis labore minima eveniet totam. Veritatis vitae ad officiis nobis saepe sed! Repellat, ducimus atque. Eligendi voluptatibus possimus fuga!
    Sit libero officia enim odio ipsa maiores architecto, tempore rerum voluptatibus delectus quod, tenetur nihil nisi! Nesciunt quae odio perferendis dolorem inventore enim voluptatem. Fugit optio commodi corrupti dolores nulla.
    Distinctio quas quibusdam quisquam? Aspernatur quam nihil numquam asperiores neque itaque similique, in voluptates, temporibus veritatis sit nulla nam laudantium voluptatibus iure minima. Optio non perferendis aliquid eum quia aut.
    Quidem error veniam consequuntur iste perspiciatis harum temporibus nesciunt animi iure voluptatem facere, itaque natus a asperiores porro accusantium. Obcaecati officia consectetur consequatur ea itaque. Ullam molestiae nam molestias eius!

  </body>
</html>
